* {
    box-sizing: border-box
}

html {}

body,
html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4em;
    letter-spacing: 0.01em;
    color: #333330;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}


body.no-scroll {
    overflow: hidden;
}

img.img-fix {
    height: auto;
    width: auto;
    position: relative;
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #333330;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    display: inline-block;
}

a:hover,
a.active {
    color: #55006b
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.h7{
    margin-bottom: 0
}

.bigf {
    font-size: 80px;
    line-height: 1.1em;
    letter-spacing: 0.08em;
}

h1,
.h1 {
    font-size: 60px;
    line-height: 1.3em;
    letter-spacing: 0.1em
}

h2,
.h2 {
    font-size: 40px;
    line-height: 1.3em;
}

h3,
.h3 {
    font-size: 30px;
    line-height: 1.3em;
}

h4,
.h4 {
    font-size: 24px;
    line-height: 1.5em;
}

h5,
.h5 {
    font-size: 20px;
    line-height: 1.5em;
}

h6,
.h6 {
    font-size: 18px;
}

.h7 {
    font-size: 16px;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal
}

b,
strong,
.bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
}

input[type=text],
input[type=password],
textarea,
select {
    border: 1px solid #000000;
    background: transparent;
    line-height: 1.5em;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

select {
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    border-radius: 0;
}

input:focus,
input:active,
input:hover,
textarea:focus,
textarea:hover textarea:focus,
select:focus,
select:hover,
select:focus {}

a:focus,
a:active,
a:hover,
.btn:focus,
.btn:active,
.btn:hover,
input:focus,
input:active,
input:hover,
textarea:focus,
textarea:hover textarea:focus,
select:focus,
select:hover,
select:focus {
    outline: none;
    outline-offset: 0px;
    text-decoration: none;
}

input[type=text].error,
input[type=password].error,
textarea.error,
select.error option {
    
}


p {
    padding-bottom: 0.5em;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

ul li {
    list-style: none
}

.clearfix {}

.clearfix:after {
    content: '';
    clear: both;
    display: table
}

.imgfix {}

.imgfix img {
    width: 100%;
    display: block;
}

.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 0.5em;
}

.mt-2 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 2em;
}

.mt-4 {
    margin-top: 3em;
}

.mt-5 {
    margin-top: 4em;
}

.mt-6 {
    margin-top: 6em;
}

.mt-7 {
    margin-top: 8em;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-1 {
    margin-bottom: 0.5em;
}

.mb-2 {
    margin-bottom: 1em;
}

.mb-3 {
    margin-bottom: 2em;
}

.mb-4 {
    margin-bottom: 3em;
}

.mb-5 {
    margin-bottom: 4em;
}

.mb-6 {
    margin-bottom: 6em;
}

.mb-7 {
    margin-bottom: 8em;
}

.mb-8 {
    margin-bottom: 10em;
}

.pt-0 {
    padding-top: 0px;
}

.pt-1 {
    padding-top: 0.5em;
}

.pt-2 {
    padding-top: 1em;
}

.pt-3 {
    padding-top: 2em;
}

.pt-4 {
    padding-top: 3em;
}

.pt-5 {
    padding-top: 4em;
}

.pt-6 {
    padding-top: 6em;
}

.pt-7 {
    padding-top: 8em;
}

.mb-8 {
    padding-top: 10em;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-1 {
    padding-bottom: 0.5em;
}

.pb-2 {
    padding-bottom: 1em;
}

.pb-3 {
    padding-bottom: 2em;
}

.pb-4 {
    padding-bottom: 3em;
}

.pb-5 {
    padding-bottom: 4em;
}

.pb-6 {
    padding-bottom: 6em;
}

.pb-7 {
    padding-bottom: 8em;
}

.pb-8 {
    padding-bottom: 10em;
}

a.block-btn {
    width: 100%;
}


.web-container{
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transition: all 1300ms cubic-bezier(0.19, 1, 0.11, 0.99);
    -moz-transition: all 1300ms cubic-bezier(0.19, 1, 0.11, 0.99);
    -o-transition: all 1300ms cubic-bezier(0.19, 1, 0.11, 0.99);
    transition: all 1300ms cubic-bezier(0.19, 1, 0.11, 0.99);
    height: 100%;
}

.web-content{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    z-index: 1;
    height: 100%;
}

.web-padding {
    padding-right: 20px;
    padding-left: 20px;
}


.loading-wrap.active {
    opacity: 1;
    visibility: visible;
}

.loading-wrap .loader {
    border: 6px solid #074C72;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 6px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotation-lock{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background: #212121;
    align-items: center;
    justify-content: center;
    display: none;
    text-align: center;
    color: #fff;
    z-index: 20;
}
.rotation-lock .rotation-lock-header{
    height: 20vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-position: top center;
    background-image: url(../images/header_bg_landscape.png);
    background-size: 100% 100%;
    z-index: 10;
}

.rotation-lock .rotation-lock-header img{
    position: absolute;
    width: auto;
    height: 8vh;
    left: 40px;
    top: 10px;
}

.rotation-lock .rotation-lock-content{
    text-align: center;
    color: #fff;
    background-position: top center;
    background-image: url(../images/purple_bg.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rotation-lock .rotation-lock-content img{
    width: 100px;
    margin-bottom: 20px;
}

.main::before,
.rotation-lock .rotation-lock-content::before{
    display: block;
    content: " ";
    width: 100%;
    position: absolute;
    top: 10vh;
    left: 0;
    height: 30vh;
    background-image: url(../images/top_star.png);
    background-size: cover;
    background-position: bottom center;
}

.main::after,
.rotation-lock .rotation-lock-content::after{
    display: block;
    content: " ";
    width: 100%;
    position: absolute;
    bottom: 10vh;
    left: 0;
    height: 30vh;
    background-image: url(../images/bottom_star.png);
    background-size: cover;
    background-position: top center;
}

.rotation-lock .rotation-lock-footer{
    height: 20vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top center;
    background-image: url(../images/bottom_bg.png);
    background-size: 100% 100%;
    z-index: 10;
}

@media screen and (orientation:landscape) {
    .rotation-lock{
        display: block;
    }
}



/************** header ************/
.header-wrap{
    height: 16vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-position: top center;
    background-image: url(../images/header_bg.png);
    background-size: auto 100%;
    z-index: 10;
    min-height: 82px;
}

.header-wrap .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
}

.header-wrap .header img{
    display: block;
    height: 8vh;
    width: auto;
}


.header-wrap .header .header-lang-wrap a{
    margin-left: 10px;
}

/************** footer ************/
.footer-wrap{
    height: 20vh;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: top center;
    background-image: url(../images/bottom_bg.png);
    background-size: 100% 100%;
    z-index: 10;
    
}


/*************** main *************/
.main{
    height: 100%;
    text-align: center;
    color: #fff;
    background-position: top center;
    background-image: url(../images/purple_bg.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.main::before{
    top:0;
}

.main::after{
    bottom: 0;
}

.main-content{
    padding: 20vh 20px;
    width: 100%;
    position: relative;
    z-index: 7;
}

.temp-wrap{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 10px 4px rgba(0,0,0,0.4);
}

.index-col-1{
    margin-bottom: 8%;
}

.index-col-2{
    display: flex;
    justify-content: space-between;
}

.index-col-2 .temp-wrap{
    width: 46%;
}


/************* camera **********/
.camera-page .main{
    align-items: flex-start;
}

.camera-wrap{
    position: relative;
    height: calc(100% - 40px);
    width: 100%;
}

.camera-page .main::before,
.camera-page .main::after{
    display: none;
}

.full-page-animation{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
}

.full-page-animation.animation1{
    background-image: url(../images/giphy.gif);
}

.animation-item1{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.animation-item1 img{
    width: 100%;
    display: block;
}

.camera-btn-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flashlight-btn,
.switch-camera-btn{
    width: 40px;
    height: 40px;
    background: #fff;
    line-height: 40px;
    color: #8C005C;
    box-shadow: 2px 0 10px 0 rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
}


.flashlight-btn span,
.switch-camera-btn span{
    display: block;
    line-height: 40px;
}

.take-photo-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #8C005C;
    box-shadow: 2px 0 10px 0 rgb(0 0 0 / 20%);
}

#cam{
    display: block;
}

button,
.button,
a.download-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    background: #eee;
}

button:hover,
.button:hover,
a.download-btn:hover {
    border-color: #cdd;
}


.share-button,
.copy-link,
a.download-btn {
    padding-left: 30px;
    padding-right: 30px;
}


.share-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 95%;
    max-width: 500px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .15);
    z-index: -1;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}

.share-dialog.is-open {
    display: block;
    z-index: 2;
}

.targets {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
}

.close-button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.close-button svg {
    margin-right: 0;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
}

.pen-url {
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



