@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kmg419');
  src:  url('fonts/icomoon.eot?kmg419#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kmg419') format('truetype'),
    url('fonts/icomoon.woff?kmg419') format('woff'),
    url('fonts/icomoon.svg?kmg419#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-press:before {
  content: "\e906";
}
.icon-icon-flip-camera:before {
  content: "\e904";
}
.icon-icon-light:before {
  content: "\e905";
}
.icon-icon-close:before {
  content: "\e900";
}
.icon-icon-link:before {
  content: "\e901";
}
.icon-icon-save:before {
  content: "\e902";
}
.icon-icon-share:before {
  content: "\e903";
}
